#Fire up GraphLab Create

In [1]:
import graphlab

#Load a tabular data set

In [2]:
sf = graphlab.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to kj6aqr@gmail.comand will expire on October 30, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-8143 - Server binary: /Users/aqua/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1446309109.log
[INFO] GraphLab Server Version: 1.6.1

PROGRESS: Finished parsing file /Users/aqua/Documents/Coursera/Machine Learning Foundations: A Case Study Approach/Week 1/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.025053 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/aqua/Documents/Coursera/Machine Learning Foundations: A Case Study Approach/Week 1/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.011819 secs.

#SFrame basics

In [4]:
sf #we can view first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [6]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

#GraphLab Canvas

In [7]:
#Take any data structure in GraphLab Create
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:55716/index.html
Opening Canvas in default web browser.

In [9]:
graphlab.canvas.set_target('ipynb')